APP_NAME=boncabrito_app_api
APP_ENV=local
APP_KEY=base64:ek0fJNofYCfJw3y6O/O2r7dW7xdBtAw28TEdTtZu4V4=
APP_DEBUG=true
APP_URL=http://localhost:8003/
APP_TIMEZONE=America/Bahia

LOG_CHANNEL=
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=root
DB_PASSWORD=


CACHE_DRIVER=file
QUEUE_CONNECTION=database

MAIL_DRIVER=smtp
MAIL_HOST=smtp.elasticemail.com
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_DEFAULT_ENDPOINT=

FCM_SERVER_KEY=
FCM_SENDER_ID=
